@model int
<style>
    a {
        cursor:pointer;
    }
    a.active {
        font-weight: bold;
        color: #ffc107 !important;
        
    }
    .f-disable{
        color:#9c9c9c;
    }
    .f-green{
        color:#28a745;
    }
    .f-yellow{
        color:#ffa907;
    }
    .f-blue{
        color:#007bff;
    }
</style>
<div id="app">
    <div class="d-flex justify-content-between d-print-none">
        @* Выбор Вида таблицы *@
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" style="border-radius: 5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Вид таблицы
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" style="cursor:pointer;" onclick="UpdateTableRegPoints()"><i class="fas fa-clipboard-list"></i> Стандартный</a>
                <a class="dropdown-item" style="cursor:pointer;" onclick="UpdateTableRegPointsLetters()"><i class="far fa-envelope"></i> Письма приглашения</a>
            </div>
        </div>
        <div class="d-flex">
            @* Скачать реестр потребителей с договорами для ЭСКБ *@
            <div class="pr-2">
                <a href="/GetFile/GetExcel_ConsumersInESKBFile/@Model">
                    <i class="far fa-file-excel fa-3x text-success" data-toggle="tooltip" data-placement="top" title="Скачать реестр потребителей с договорами для ЭСКБ"></i>
                </a>
            </div>
            @* Скачать реестр потребителей без договоров для ЭСКБ *@
            <div class="pr-2">
                <a href="/GetFile/GetExcel_NoConsumersInESKBFile/@Model">
                    <i class="fas fa-file-excel fa-3x text-success" data-toggle="tooltip" data-placement="top" title="Скачать реестр потребителей без договоров для ЭСКБ"></i>
                </a>
            </div>
            @* Скачать список в формате Excel *@
            <div class="pr-2">
                <a href="/GetFile/GetExcel_PointsInSubstation/@Model">
                    <i class="far fa-file-excel fa-3x text-success" data-toggle="tooltip" data-placement="top" title="Скачать список в формате Excel"></i>
                </a>
            </div>
            @* Действия над выделенными точками *@
            <div v-if="selectedPoints.length > 0" class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle border border-dark" style="border-radius: 5px; color: #000; background-color: #ffc107;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выделено: {{selectedPoints.length}} из {{points.length}}
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" style="cursor:pointer;" v-on:click="movePointsTo(selectedPoints)"><i class="fas fa-arrow-right"></i> Перенести точки в..</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel mb-1 mt-1">
        <div class="d-flex justify-content-between d-print-none">
            <input class="form-control col" type="text" placeholder="Фильтр.." v-model="search" />
            <div v-if="filterOrderPoints.length < points.length" class="p-2 col">Найдено: {{filterOrderPoints.length}} из {{points.length}}</div>
        </div>
    </div>
    
    <div class="panel">
        <div v-if="isLoading" class="d-flex justify-content-center align-items-center p-3 text-dark">
            <div class="spinner spinner-border"></div>
            <div class="pl-2"> Загрузка точек..</div>
        </div>
        <table v-if="!isLoading" class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th><input type="checkbox" v-model="selectedAll" title="Отметить все" /></th>
                    <th>
                        <a v-on:click="sortBy('RegPointId')" v-bind:class="{ 'active': sortKey == 'RegPointId' }">Акт</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('OAddress')" v-bind:class="{ 'active': sortKey == 'OAddress' }">Адрес объекта</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('InstallPlace')" v-bind:class="{ 'active': sortKey == 'InstallPlace' }">Место установки</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('DeviceDescription')" v-bind:class="{ 'active': sortKey == 'DeviceDescription' }">Тип ПУ</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('Serial')" v-bind:class="{ 'active': sortKey == 'Serial' }">Заводской №</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('PhoneNumber')" v-bind:class="{ 'active': sortKey == 'PhoneNumber' }">Номер тел.</a>
                    </th>
                    <th>
                        <a v-on:click="sortBy('WorkerFname')" v-bind:class="{ 'active': sortKey == 'WorkerFname' }">Монтажник</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="p in filterOrderPoints" v-bind:class="{ 'bg-warning-light':isSelected(p.RegPointId) }" v-on:mousemove="mouseMove(p.RegPointId)">
                    <td><input type="checkbox" :value="p.RegPointId" v-model="selectedPoints" /></td>
                    <th scope="row"><a v-bind:href="'/RegPoint/Edit?id='+p.RegPointId">{{ p.RegPointId }}</a></th>
                    <td>{{ p.OAddress }}</td>
                    <td>{{ p.InstallPlace }}</td>
                    <td>{{ p.DeviceDescription }}</td>
                    <td v-if="p.Serial.length == 15"><strong>{{ p.Serial.substring(0,6) }}</strong>{{ p.Serial.substring(6,15) }}</td>
                    <td v-else>{{ p.Serial }}</td>
                    <td>{{ p.PhoneNumber }}</td>
                    <td>{{ p.WorkerLName }} {{ p.WorkerFName.substring(0,1) }}.{{ p.WorkerMName.substring(0,1) }}.</td>
                    <td>
                        <div class="d-flex">
                            <div class="zoom pr-1" data-toggle="tooltip" data-placement="top" title="Флаг 'Связь с ПУ'">
                                <i v-on:click="switch_LinkOk(p)" v-bind:class="[p.IsLinkOk ? 'f-yellow':'f-disable', 'fab fa-gg-circle fa-2x']" style="cursor: pointer;"></i>
                            </div>
                            <div class="zoom pr-1" data-toggle="tooltip" data-placement="top" title="Флаг 'Добавлено в ПО АСКУЭ'">
                                <i v-on:click="switch_AscueChecked(p)" v-bind:class="[p.IsAscueChecked ? 'f-blue':'f-disable', 'fas fa-plus-circle fa-2x']" style="cursor: pointer;"></i>
                            </div>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Работает в ПО АСКУЭ'">
                                <i v-on:click="switch_AscueOk(p)" v-bind:class="[p.IsAscueOk ? 'f-green':'f-disable', 'fas fa-check-circle fa-2x']" style="cursor: pointer;"></i>
                            </div>
                            <div class="zoom" data-toggle="tooltip" data-placement="top" title="Флаг 'Замена ПУ'">
                                <i v-on:click="switch_ReplaceOk(p)" v-bind:class="[p.IsReplace ? 'f-red':'f-disable', 'fas fa-times-circle fa-2x']" style="cursor: pointer;"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/PointsSortFilter.js"></script>
<script>
    app.substationId = @Model;
    GetPointsInfo(@Model);
</script>