@page
@model KursActWeb.Pages.DocumentsModel
@{
    ViewData["Title"] = "Управление отчетностью";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow p-3 mb-1 rounded" style="background-color:#1c2324"><h1 style="color:white; margin:0"><i class="fas fa-file-contract"></i> Управление отчетностью</h1></div>
<h1>Documents</h1>

