@page
@model KursActWeb.Pages.ReplaceDataImportModel
@{
    ViewData["Title"] = "Импорт данных по замене ПУ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>

    .lds-dual-ring {
        display: inline-block;
        width: 64px;
        height: 64px;
        padding-left: 50%;
        padding-top: 70px;
        padding-bottom: 70px;
    }

        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 43px;
            height: 43px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid;
            border-color: rgb(0, 174, 255) transparent rgb(0, 174, 255) transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

    @@keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<style>

    .input-file {
        background: #fff; /* Цвет фона */
        padding: 50px; /* Поля вокруг текста */
        box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
        height: 200px;
        width: 100%;
        font-size: 100px;
        color: rgb(0, 174, 255);
        text-align: center;
        cursor: pointer;
    }

        .input-file:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
        }
</style>

<div class="shadow p-3 mb-1 rounded" style="background-color:#1c2324"><h1 style="color:white; margin:0"><i class="fas fa-cloud-upload-alt"></i>Импорт данных по замене ПУ</h1></div>
<div id="activeArea">
    <label for="upload">
        <i class="fas fa-file-upload input-file"></i>
        <input id="upload" type="file" onchange="handleFiles(this.files)" class="input-file" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </label>
</div>
<div id="dataTable">
    <div v-if="replaceRows" class="panel">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Серийный номер</th>
                    <th class="text-success" style="font-size:16px; cursor:pointer; background-color:#e4fbd8;" onclick="ImportData()"><a><i class="fas fa-clipboard-check"></i> Принять</a></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="rp in replaceRows">
                    <td><a v-bind:href="'/RegPoint/Edit/'+rp.Id">{{ rp.Id }}</a></td>
                    <td>{{ rp.C_Serial }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script>
    var data;

    var dataTable = new Vue({
        el: '#dataTable',
        data: {
            replaceRows: data
        }
    })

    function handleFiles(files) {
        let file = files[0];
        let req = new XMLHttpRequest();
        let formData = new FormData();
        formData.append("file", file);

        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
                data = JSON.parse(req.responseText);
                dataTable.replaceRows = data;
                document.getElementById("activeArea").innerHTML = ''
            }
        }
        req.open("POST", '/UploadFile/UploadReplaceData');
        req.send(formData);

        document.getElementById("activeArea").innerHTML = '<div class="lds-dual-ring"></div>';
    }

    function ImportData() {
        fetch('/ImportData/ReplaceDataToRegPoints', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then((response) => {
            if (response.ok) {
                dataTable.replaceRows = null;
                data = null;
                ShowFileInput();
                ok('Импорт данных по замене ПУ успешно выполнен');
            } else { err('Ошибка сервера' + response.statusText); }
        });
    }

    function ShowFileInput() {
        document.getElementById("activeArea").innerHTML =
            '<label for="upload">' +
            '<i class="fas fa-file-upload input-file" ></i>' +
            '<input id="upload" type="file" onchange="handleFiles(this.files)" class="input-file" style="display:none" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />' +
            '</label >';
    }
</script>

