<div class="col-lg-3 d-flex">
    <div class="panel align-self-stretch">
        <div class="miniStats--panel">
            <div class="miniStats--body panel-no-gutter-top mt-2">
                <i class="miniStats--icon fa fa-info"></i>
                <p class="miniStats--caption pt-3">Тип ПУ</p>
                <h3 class="miniStats--title h4">@Model.Device.DeviceType.Name</h3>
                <p class="miniStats--caption pt-3">Номер ПУ</p>
                <h3 class="miniStats--title h4">@Model.Device.SerialNumber</h3>
                <p class="miniStats--caption pt-3">Статус</p>
                <h3 class="miniStats--title h4">@Model.Device.CurrentState</h3>
            </div>
        </div>
    </div>
</div>